<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Clientes</title>
    <link href="../css/bootstap.min.css" rel="stylesheet">
</head>

<body>
    <div id="navbar-placeholder"></div>
    <main class="m-5">
        <section class="d-flex align-items-center">
            <h3 class="m-0">Mis Clientes</h3>
            <button class="btn btn-success ms-auto" type="button" data-bs-target="#saveModal" data-bs-toggle="modal">Registrar Cliente</button>
        </section>
        <hr>
        <section>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo Electronico</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" name="tbody">
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination justify-content-center" id="pagination">
                    </ul>
                </nav>
            </div>
        </section>
    </main>

    <div class="modal fade" id="saveModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="saveModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Nuevo Cliente</h4>
                    <hr>
                    <form class="row g-3" id="saveForm">
                        <div class="col-12">
                            <label for="name"><small>Nombre</small></label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="surname"><small>Apellido Paterno</small></label>
                            <input type="text" id="surname" name="surname" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="lastname"><small>Apellido Materno</small></label>
                            <input type="text" id="lastname" name="lastname" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="telephoneNumber"><small>Telefono</small></label>
                            <input type="text" id="telephoneNumber" name="telephoneNumber" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="email"><small>Correo Electronico</small></label>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>
                        <div class="col-12 text-end">
                            <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-outline-success ms-2" type="submit" data-bs-dismiss="modal">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="updateModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="updateModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Actualizar Información de Cliente</h4>
                    <hr>
                    <form class="row g-3" id="updateForm">
                        <div class="col-12">
                            <label for="u_name"><small>Nombre</small></label>
                            <input type="text" id="u_name" name="u_name" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="u_surname"><small>Apellido Paterno</small></label>
                            <input type="text" id="u_surname" name="u_surname" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="u_lastname"><small>Apellido Materno</small></label>
                            <input type="text" id="u_lastname" name="u_lastname" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="u_telephoneNumber"><small>Telefono</small></label>
                            <input type="text" id="u_telephoneNumber" name="u_telephoneNumber" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="u_email"><small>Correo Electronico</small></label>
                            <input type="text" id="u_email" name="u_email" class="form-control">
                        </div>
                        <div class="col-12 text-end">
                            <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-outline-success ms-2" type="submit" data-bs-dismiss="modal">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="updateModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Aviso</h4>
                    <hr>
                    <div class="row g-3">
                        <div class="col-12"><p>¿Está seguro de que quiere realizar esta operacion? <span class="fw-bold">Esta accion es irreversible</span></p></div>
                        <div class="col-12">
                            <button type="button" data-bs-dismiss="modal" id="confirmDeleteCustomer" class="btn btn-outline-danger">Eliminar</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary ms-2">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="../js/bootstrap.bundle.min.js"></script>    
    <script src="../js/modules/myCustomers.js" type="module"></script>
</body>
</html>